<h1>Editing service</h1>

<%= render "form", service: @service %>

<br>

<div>
  <%= link_to 'Show this service', organization_service_path(@org, @service) %> |
  <%= link_to 'Back to services', organization_services_path(@org) %>
</div>
