<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", organization_person_path(@org, person) %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_organization_person_path(@org) %>
