<div>
  <label class="block"><%=@label%></label>
  <input data-controller="table" data-table-query-value="<%=@start_query%>" type="date" data-action="table#setDate"/>
  <input data-controller="table" data-table-query-value="<%=@end_query%>" type="date" data-action="table#setDate"/>
</div>
